/*
This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.
If your plugin does not need CSS, delete this file.
*/
.settings-div {
    border: 2px solid var(--background-modifier-border);
    padding: 5px;
    margin: 2px;
}   
.right-justify {
    flex-wrap: wrap;
    justify-content: flex-end !important;
}
.left-justify {
    flex-wrap: wrap;
    justify-content: flex-start !important;
}
.display-none {
    display: none;
}
.heading-width input[type='text'] {
    width: 150px;
}
.canvas-table td:has(span):has(span) {
    border-style: none;
    border-radius: 20px;
}
.canvas-table  .internal-link {
    color: white !important;
}